{% extends 'base.html' %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css"
  href="{{ url_for('static', filename='styles/checkout.css', cache_id=cache_id) }}">
{% endblock %}

{% block extra_scripts %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{{ url_for('static', filename='scripts/checkout.js', cache_id=cache_id) }}"></script>
<script src="{{ url_for('static', filename='scripts/bikes.js', cache_id=cache_id) }}"></script>
{% endblock %}

{% block content %}
<div class="checkout-page">
  <h1>Checkout</h1>
  <div class="checkout-container">
    <div class="cart-section">
      <div class="cart-page">
        <div id="cart-list"></div>
        <div id="total-div">
          <h1>Total: Ksh <span id="total"></span></h1>
        </div>
      </div>
    </div>

    <div class="signup-div">
      <form class="checkout-form" id="checkout-form">
        <h1>Shipping Details</h1>
        <div class="name-section">
          <div><label>Firstname</label>
            <input type="text" name="firstname" placeholder="First Name" required="True" />
          </div>
          <div><label>Lastname</label>
            <input type="text" name="lastname" placeholder="Last Name" required="True" />
          </div>
        </div>
        <div class="email-section"><label>Email</label>
          <input type="email" name="email" placeholder="Email" required="True" />
        </div>
        <div class="id-section">
          <div><label>ID/Passport no</label>
            <input type="text" name="id_number" required="True" />
          </div>
          <div><label>Password</label>
            <input type="password" name="password" required="True" />
          </div>

        </div>
        <div class="county-section"><label>County</label>
          <input type="text" name="county" />
        </div>
        <div class="address-section"><label>Delivery Street Name</label>
          <input type="text" name="street_address" placeholder="Garissa Rd" />
        </div>
        <button class="order-btn">Confirm Order</button>
      </form>
    </div>
  </div>
  {% endblock %}