{% extends "base.html" %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css', cache_id=cache_id) }}">
<link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
{% endblock %}

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="{{ url_for('static', filename='scripts/home.js', cache_id=cache_id) }}"></script>
{% endblock %}

{% block content %}
<div class="home-div">
  <div class="intro">
    <h1>Welcome to Rent-a-bike</h1>
    <p>
      Rent-a-bike is a bike rental service that offers a wide range of bikes for rent. We have mountain bikes, road
      bikes, and adventure bikes. Our bikes are well maintained and are available at affordable prices. We also have a
      team of experienced mechanics who ensure that our bikes are in good condition. Rent-a-bike is the best place to
      rent a bike in Nairobi.
    </p>
  </div>
  <h1 class="collection-header">Our Collection</h1>
  <div class="categories">
    <h1>Mountain</h1>
    <span>Challenge the toughest terrains with a trusted bike.</span>
    <div class="owl-carousel category-item">
      {% for bike in mountain_bikes %}
      <div class="mountain_bike item">
        <a href="/bike/{{ bike.model }}">
          <img src="{{ url_for('static', filename='images/' + bike.model + '.png') }}" alt="" class="home-bike-img" />
        </a>
        <div class="bike-details">
          <p>{{ bike.model }}</p>
          <p><b>{{ bike.price }}</b></p>
        </div>
      </div>
      {% endfor %}
    </div>
    <a href="/bike/mountain">
      <button class="view-all-btn">View All</button>
    </a>

    <h1>Road Bikes</h1>
    <span>Perfect for your daily commute or just to cycle in your neighbourhood</span>
    <div class="owl-carousel category-item">
      {% for bike in road_bikes %}
      <div class="road_bike item">
        <a href="/bike/{{ bike.model }}">
          <img src="{{ url_for('static', filename='images/' + bike.model + '.png') }}" alt="" class="home-bike-img" />
        </a>
        <div class="bike-details">
          <p>{{ bike.model }}</p>
          <p><b>{{ bike.price }}</b></p>
        </div>
      </div>
      {% endfor %}
    </div>
    <a href="/bike/road">
      <button class="view-all-btn">View All</button>
    </a>

    <h1>Adventure Bikes</h1>
    <span>Best option for touring the country.</span>
    <div class="owl-carousel category-item">
      {% for bike in adventure_bikes %}
      <div class="adventure_bike item">
        <a href="/bike/{{ bike.model }}">
          <img src="{{ url_for('static', filename='images/' + bike.model + '.png') }}" alt="" class="home-bike-img" />
        </a>
        <div class="bike-details">
          <p>{{ bike.model }}</p>
          <p><b>{{ bike.price }}</b></p>
        </div>
      </div>
      {% endfor %}
    </div>
    <a href="/bike/adventure">
      <button class="view-all-btn">View All</button>
    </a>
  </div>
  <div>
    <h1>About Us</h1>
    <div>
      <p>
        Rent-a-bike is a bike rental service that offers a wide range of bikes for rent. We have mountain bikes, road
        bikes, and adventure bikes. Our bikes are well maintained and are available at affordable prices. We also have
        a team of experienced mechanics who ensure that our bikes are in good condition. Rent-a-bike is the best place
        to rent a bike in Nairobi.
      </p>
    </div>
  </div>
</div>
{% endblock %}