{% extends "base.html" %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/lessors.css', cache_id=cache_id) }}">
{% endblock %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='scripts/base.js', cache_id=cache_id) }}"></script>
{% endblock %}

{% block content %}
<div class="lessors-div">
  <h1>Our Partners</h1>
  <div class="lessor-cards">
    {% for lessor in lessors %}
    <div class="lessor-card">
      <h2>{{ lessor.name }}</h2>
      <hr />
      <p class="lessor-email">{{ lessor.email }}</p>
      <p class="lessor-phone">{{ lessor.phone }}</p>

      <a href="{{ lessor.website }}" target="_blank">Visit Website</a>
    </div>
    {% endfor %}
  </div>
  {% endblock %}