{% extends "base.html" %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/lessors.css', cache_id=cache_id) }}">
{% endblock %}

{% block content %}
<div class="lessors-div">
  <h1>Our Partners</h1>
  <div>
    {% for lessor in lessors %}
    <div class="lessor">
      <h2>{{ lessor.name }}</h2>
      <p>{{ lessor.email }}</p>
      <p>{{ lessor.phone }}</p>

      <a href="{{ lessor.website }}" target="_blank">Visit Website</a>
    </div>
    {% endfor %}
  </div>
  {% endblock %}