{% extends "base.html" %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/lessors.css', cache_id=cache_id) }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bikes.css', cache_id=cache_id) }}">
{% endblock %}

{% block extra_scripts %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{{ url_for('static', filename='scripts/base.js', cache_id=cache_id) }}"></script>
<script src="{{ url_for('static', filename='scripts/bikes.js', cache_id=cache_id) }}"></script>
{% endblock %}

{% block content %}
<div class="lessors-div">
  <h1>Our Partners</h1>
  <div class="lessor-cards">
    {% for lessor in lessors %}
    <div class="lessor-card">
      <h2>{{ lessor.name }}</h2>
      <hr />
      <p class="lessor-email">{{ lessor.email }}</p>
      <p class="lessor-phone">{{ lessor.phone }}</p>

      <a href="{{ lessor.website }}" target="_blank">Visit Website</a>
    </div>
    {% endfor %}
  </div>
</div>
<div class="cart-page">
  <img src="{{ url_for('static', filename='images/close.png') }}" alt="close_img" id="close-cart-img"
    class="close-img" />
  <div id="cart-list"></div>
  <div id="total-div">
    <h1>Total: Ksh <span id="total"></span></h1>
    <a href="/checkout">
      <button id="checkout-btn" class="checkout-btn">Checkout</button>
    </a>
  </div>
</div>
{% endblock %}