{% extends "base.html" %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bikes.css', cache_id=cache_id) }}">
{% endblock %}

{% block content %}
<div class="bikes-div">
  <h1>Bikes</h1>
  <div class="bike-container">
    {% for bike in road_bikes %}
    <div class="bike">
      <a href="/bike/{{ bike.model }}">
        <img src="{{ url_for('static', filename='images/' + bike.model + '.png') }}" alt="" class="bike-img" />
      </a>
      <div class="bike-details">
        <p>{{ bike.model }}</p>
        <p><b>{{ bike.price }}</b></p>
      </div>
      <button class="rent-btn">Rent</button>
    </div>
    {% endfor %}
  </div>

</div>
{% endblock %}