* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(255, 255, 255, 1);
  overflow: hidden;
  overflow-y: scroll;
  height: 100vh;
}

.nav-items {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
margin: 0 50px;
}

.nav-links {
display: flex;
flex-direction: row;
justify-content: center;
font-size: 17px;
font-weight: 500;
list-style: none;
gap: 30px;
}

.nav-links :hover {
cursor: pointer;
color: rgb(255, 99, 99);
text-decoration: underline;
}

.nav-links:active {
  cursor: pointer;
  color: rgb(255, 99, 99);
  text-decoration: underline;
}

.cart-details {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.item-count {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  margin-left: -5px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;
}

.logo {
height: 70px;
width: 70px;
object-fit: contain;
}

.nav-links a {
color: black;
}

.cart-icon {
height: 20px;
width: 20px;
cursor: pointer;
}

.nav-cart-items {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 20px;
}

.login-btn {
background-color: rgb(255, 99, 99);
color: azure;
padding: 7px;
border: none;
}

.footer-div {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
background-color: rgb(53, 52, 50);
margin-bottom: 20px;
}

.footer-divs {
display: flex;
flex-direction: row;
justify-content: space-between;
width: 75rem;
margin: 0 auto;
padding: 20px;
}


.footer-divs a {
color: white;
}

.quick-links {
display: flex;
flex-direction: column;
}

.quick-links-social {
display: flex;
flex-direction: row;
justify-content: center;
gap: 5px;
}

.fb-img,
.insta-img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.twitter-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.copyright-info {
  display: flex;
  flex-direction: column;
  width: 100%;
text-align: center;
}

.copyright-info span {
  padding: 10px;
font-size: 20px;
font-weight: 400;
}