.checkout-page {
display: flex;
flex-direction: column;
justify-content: center;
width: 80%;
margin: 0 auto;
}

.checkout-container {
display: flex;
flex-direction: row;
justify-content: space-between;
gap: 30x;
}

.cart-section {
display: flex;
flex-direction: column;
width: 50%;
}

.bikes-div {
  padding: 30px;
}

.bike-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.bike {
  border: 1px solid #96949455;
  padding: 10px;
  text-align: center;
  width: calc(33.333% - 20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-bottom: 10px;
}

.bike-img {
  height: 300px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 10px;
}

.bike p {
font-size: 15px;
font-family: "Poppins";
}


.rent-btn {
  background: #d30000;
  border: none;
  width: 50px;
  color: white;
  padding: 7px;
}

.cart-page {
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
width: 500px;
background: white;
box-shadow: 0 5px 15px rgba(0,0,0,0.3);
padding: 20px;
z-index: 1000;
}

.cart-page .close-img {
  cursor: pointer;
  float: right;
}

.list-group-item {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
text-align: center;
margin: 10px 20px;
padding: 10px;
border-bottom: 1px solid #96949455;
gap: 10px;
}

.bike-cart-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.close-img {
  width: 25px;
  height: 25px;
  object-fit: contain;
  cursor: pointer;
  margin-bottom: 10px;
}

.remove-img {
  width: 15px;
  height: 15px;
  object-fit: contain;
  cursor: pointer;
}

.total-div {
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
}

.total-div h1 {
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  padding: 20px;
}

.checkout-form {
  display: flex;
flex-direction: column;;
gap: 20px;
}

.name-section,
.return-phone-setion {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 30px;
}

.email-section {
display: flex;
flex-direction: column;
justify-content: center;
}

.checkout-form input {
display: flex;
justify-self: flex-end;
margin-right: 30px;
align-self: right;
width: 200px;
height: 30px;
border: 1px solid #2c2b2b55;
}

.email-section input,
.county-section input,
.address-section input {
width: 450px;
}

.id-section {
display: flex;
flex-direction: row;
}

.order-btn {
  background: rgb(1, 87, 58);
  border: none;
  color: #fff;
  cursor: pointer;
  align-items: center;
  padding: 0.7rem 1.3rem;
  margin: 5px auto;
  font-size: 1rem;
  width: 60%;
}

#error-msg {
color: #d30000;
}

.hide {
  display: none;
}
