.login-page {
display: flex;
flex-direction: column;
justify-content: center;
margin: auto;
background-color: rgb(250, 222, 222);
}

.login-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 300px;
  margin: 150px auto;
  align-items: center;
  border: 1px solid #b4b2b2;
  background-color: rgb(255, 255, 255);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;}

.login-form h1 {
  text-align: center;
  color: rgb(240, 68, 68);
}

.login-form input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 300px;
  height: 40px;
  background: #eaeaea;
  border: 1px solid #2c2b2b55;
  border-radius: 5px;
}

.login-submit-btn {
background: rgb(0, 145, 202);
padding: 7px;
margin: auto;
color: white;
border: none;
}

#error-msg {
  color: red;
  text-align: left;
}